<!DOCTYPE html>
<html>
<head>
  <title>linkloader</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="title text-center">
    <h1>link<em>L</em>oader</h1>
  </div>
  <div class="container">
    <div class="row bg-info">
    <div class="col-md-4">
    <%= link_to "", root_path, class: "btn btn-primary glyphicon glyphicon-plus pull-right" %>
    </div>
    <div class="col-md-4 col-md-4 pull-right">
      <% if @current_user %>
        Hello
        <% current_user %>
        Your email is
        <%= current_user.email %> |
        <%= link_to "logout", logout_path %>
      <% else %>
        <%= link_to "login", login_path %>
        <% end %>
    </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-4 text-center">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>


